<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Search Results</title>
      		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
      <style>
      td {
      	padding-bottom: 20px;
      	padding-right:50px
      }
      
      h5 {
      	margin: 0;
      	font-weight:400;
      }
      </style>
   </head>
	<body>		
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="/welcome">
	    		<img src="/images/ApplicationLogo.png" alt="Logo" style="width:70px;height:70px">
	 		 </a>
	  		<span class="navbar-brand mb-0 h1"><h2 style="text-align:center">Public Library</h2></span>
	  		<div style="float: right:display:inline">
				<p style="float: left;color:white;" th:text="${sessionClient}"></p>
				<a style="float: right; margin: 0 100px" th:if="${loggingStatus}=='Logout'" href="/logOut"><p
					th:text="${loggingStatus}"></p></a>
				<a style="float: right; margin: 0 100px" th:if="${loggingStatus}=='Register / Login'" href="/signIn"><p
					th:text="${loggingStatus}"></p></a>
			</div>
		</nav>
		<div class="container">
			<h2>Basic Search Results</h2> 	
			<div>
				<form onsubmit="return validateSearchForm()" method="post" 
					th:action="@{/basicSearch}" style="float: left; margin-top:20px; line-height: 3em;">
					<a href="/advancedSearch"> Search Terms</a> <input id="searchTerms"
						type="text" th:field="${searchTermsAndPage.searchTerms}"
						style="width: 300px;" />
				</form>
			</div>
		   	<div style="margin-top: 70px;"></div>
			<div th:if="${not #lists.isEmpty(searchResults.searchResultsPerCategory[0])}">
			  <span style="color: blue;display:block;width: 100%;"><br>Books</span>
			  <div style="width: 9%;display: inline-block;vertical-align: top;" th:each="book : ${searchResults.searchResultsPerCategory[0]}">
				<a th:href="@{'/itemDetail/Book/' + ${book.itemID}}">			  
	 				<img style="width: 100%;" th:src="${book.coverImageUrl}"/>
	 				 <p th:text=${book.title} style="text-align: center;"></p>	
				</a>	  
			  </div>
			</div>
			<div th:if="${not #lists.isEmpty(searchResults.searchResultsPerCategory[1])}">
			  <span style="color: blue;display:block;width: 100%;">Music</span>
				  <div style="width: 9%;display: inline-block;vertical-align: top;" th:each="music : ${searchResults.searchResultsPerCategory[1]}">
				  	<a th:href="@{'/itemDetail/Music/' + ${music.itemID}}">
				      <img style="width: 100%;" th:src="${music.coverImageUrl}"/>
				      <p th:text=${music.title} style="text-align: center;"></p>
				    </a>		  
				  </div>
			</div>		
			<div th:if="${not #lists.isEmpty(searchResults.searchResultsPerCategory[2])}">
			  <span style="color: blue;display:block;width: 100%;">Movies</span>
				  <div style="width: 9%;display: inline-block;vertical-align: top;" th:each="movie : ${searchResults.searchResultsPerCategory[2]}">
				  	<a th:href="@{'/itemDetail/Movie/' + ${movie.itemID}}">
				      <img style="width: 100%;" th:src="${movie.coverImageUrl}"/>
				      <p th:text=${movie.title} style="text-align: center;"></p>	
				    </a>	  
				  </div>		  
			</div>	
			<div>	
			  <div style="margin-left: 40%">
			    <div style="display:inline-block;">
					<form method="post" th:action="@{/basicSearch}">
			      		<input type="text" th:field="${searchTermsAndPage.requestedResultsPageNumber}" 
			      						maxlength="3" style="font-size:2em;margin: 0 0.5em; width:50px;padding: 0 2%;"/>
			      		<input type="text" th:field="${searchTermsAndPage.searchTerms}" style="display:none">
			      		<input type="submit" style="display:none">		      										
					</form>		    
			    </div>
			  </div>
			</div>
		</div>
	</body>
	<script src="js/BasicSearchCreteriaInputValidation.js"></script>
</html>
