<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Loan Management</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
	<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/locale/bootstrap-table-en-CN.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/welcome">
   			<img src="/images/ApplicationLogo.png" alt="Logo" style="width:70px;height:70px">
 		</a>
		<span class="navbar-brand mb-0 h1"><h2 style="text-align:center">Public Library</h2></span>
		<div style="float: right">
			<p style="float: left;color:white;" th:text="${sessionClient}"></p>
		</div>
	</nav>
	<h4 style="margin-top: 2%;margin-bottom:2%">Loan Management</h4>
	<form method="POST" id="form" th:action="@{/loan}">
	
		<table class="table table-bordered table-striped" id="table" data-toggle="table">
		  <!-- Table head -->
		  <thead class="thead-dark">
		    <tr data-field="item">
		      <th data-field="state" data-checkbox="true"></th>
		      <th data-field="itemId" data-visible="false" data-sortable="true">Item Id</th>
		      <th data-field="category" data-sortable="true">Content Type</th>
		      <th data-field="title" data-sortable="true">Title</th>
		      <th data-field="email" data-sortable="true">User</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr data-field="item" th:each="item : ${items}">
		      <td data-field="state" data-checkbox="true"></td>
		      <td data-field="itemId" data-visible="false" th:text="${item.itemId}"></td>
		      <td data-field="category" th:text ="${item.category}"></td>
		      <td data-field="title" th:text ="${item.title}"></td>
		      <td data-field="email" th:text ="${item.email}"></td>
		    </tr>
		  </tbody>
		</table>
		<button type="submit" id="button" class="btn btn-primary" style="margin-top: 2%;">Return Items</button>
		<button class="btn btn-secondary" type="reset" value="Cancel" onclick="window.location='welcome'" style="margin-top: 2%;">Cancel</button>
		<input type="hidden" id="abc" name="abc" th:field="${select.selections}"/>
	</form>
</body>
<script>
		
	  var $table = $('#table')
	  var $button = $('#button')
	  var selection
	  
	  $(function() {
	    $button.click(function () {
	      selection = JSON.stringify($table.bootstrapTable('getSelections'))
	      document.getElementById("abc").value = selection;
	    })
	  })
</script>
</html>
